<div class="register" ng-controller="registerCtrl">
	<form action="">
		<img src="image/my.png" class="img1"><input type="text" class="inp1" placeholder="请输入手机号">
		<img src="image/my.png" class="img2"><input type="text" class="inp2" placeholder="请输入密码">
	</form>
	<form class="mobile_message" action="" method="" accept-charset="utf-8">
		<input type="" name="" class="inp3" placeholder="请输入验证码"> <button class="login_btn0" type="">现在还剩余45s</button>
	</form>
	<button class="login_btn1">登录</button>
	<button class="login_btn2">注册</button>
</div>
	